<mat-drawer-container class="container" autosize>
    <mat-drawer #sidenav class="sidenav" mode="side">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button class="btn-item">
                    <mat-icon>add_box</mat-icon>
                    <span>Request Credits</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button class="btn-item">
                    <mat-icon>account_balance</mat-icon>
                    <span>Credits</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button class="btn-item">
                    <mat-icon>people</mat-icon>
                    <span>Users</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button class="btn-item">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button class="btn-item">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Salir</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
</mat-drawer-container>
  