[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-accepts = "*"
flask-restx = "*"
marshmallow = "*"
mypy-extensions = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-seeder = "*"
flask-script = "*"
panda = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
